.Login{
    height: 100vh;
    background-color:aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    .card{
        display: flex;
        width: 50%;
        border-radius: 10px;
        min-height: 600px;
        .left{
            flex: 1;
            background-color: white;
            background: url() center;
            background-size: cover;
            h1{}
            p{}
            span{}
            button{}
        }

        .right{
            flex: 1;
            background-color: white;
            h1{}
            form{
                input{}
                button{}
            }
            
        }
    }
}