.Register{
    height: 100vh;
    background-color:aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    .card{
        display: flex;
        width: 50%;
        border-radius: 10px;
        min-height: 600px;
        overflow: hidden;
        flex-direction: row-reverse;
        .left{
            flex: 1;
            background-color: white;
            background:linear-gradient(rgba(39,11,96,0.5), rgba(39,11,96,0.5)), url(../../Graphics/loginpic.jpeg) center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;
            h1{
                font-size: 100px;
                line-height: 100px;
            }
            p{}
            span{
                font-size: 14px;
            }
            button{
                width: 50%;
                padding: 10px;
                border: none;
                background-color: white;
                color:rebeccapurple;
                font-weight: bold;
                cursor: pointer;
            }
        }

        .right{
            flex: 1;
            background-color: white;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;
            h1{
                color: #555;

            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;
                input{
                    border: none;
                    border-bottom: 1px solid;
                    padding: 20px 10px;
                }
                button{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    font-weight: bold;
                    background-color: #938eef;
                    color: white;
                    cursor: pointer;
                }
            }
            
        }
    }
}